<div id="menu-button" class="menu__button">

  <div class="menu__button menu__button--open active" id="menu-open">
    {{{view 'icons/ic_menu'}}}
  </div>

  <div class="menu__button menu__button--close" id="menu-close">
    {{{view 'icons/ic_close'}}}
  </div>
</div>

<ul id="menu-wrapper" class="menu__wrapper">
  <li>
    <div>{{t "menu_who_we_are"}}</div>
    <ul class="sub-menu">
      <li><a href="#missao">{{t "sub_menu_mission"}}</a></li>
      <li><a href="#linhas-tematicas">{{t "sub_menu_thematic_lines"}}</a></li>
      <li><a href="#membros">{{t "sub_menu_members"}}</a></li>
      <li><a href="#comissao-acompanhamento">{{t "sub_menu_monitoring_committee"}}</a></li>
    </ul>
  </li>
  <li><a href="#projetos">{{t "menu_projects"}}</a></li>
  <li><a href="#eventos">{{t "events_title"}}</a></li>
  <li><a href="#publicacoes">{{t "publications_title"}}</a></li>
  <li><a href="#noticias">{{t "news_title"}}</a></li>
  <li><a href="#bolsas">{{t "menu_scholarships"}}</a></li>
  <li><a href="#contactos">{{t "menu_contacts"}}</a></li>
</ul>
