<div id="menu-button" class="menu__button">

  <div class="menu__button menu__button--open active" id="menu-open">
    {{{view 'icons/ic_menu'}}}
  </div>

  <div class="menu__button menu__button--close" id="menu-close">
    {{{view 'icons/ic_close'}}}
  </div>
</div>

<ul id="menu-wrapper" class="menu__wrapper">
  <li>
    <div>{{t "menu-who_we_are"}}</div>
    <ul class="sub-menu">
      <li><a href="#{{t "route-mission"}}">{{t "menu-mission"}}</a></li>
      <li><a href="#{{t "route-thematic_lines"}}">{{t "menu-thematic_lines"}}</a></li>
      <li><a href="#{{t "route-members"}}">{{t "menu-members"}}</a></li>
      <li><a href="#{{t "route-monitoring_committee"}}">{{t "menu-monitoring_committee"}}</a></li>
    </ul>
  </li>
  <li><a href="#{{t "route-projects"}}">{{t "menu-projects"}}</a></li>
  <li><a href="#{{t "route-events"}}">{{t "menu-events"}}</a></li>
  <li><a href="#{{t "route-publications"}}">{{t "menu-publications"}}</a></li>
  <li><a href="#{{t "route-news"}}">{{t "menu-news"}}</a></li>
  <li><a href="#{{t "route-scholarships"}}">{{t "menu-scholarships"}}</a></li>
  <li><a href="#{{t "route-contacts"}}">{{t "menu-contacts"}}</a></li>
</ul>
