<div class="home__section__new__thumb" style="background-image: url({{thumbnail}})"> </div>

<div class="home__section__new__content">
	<h4>{{title}}</h4>
	<p>{{{custom_fields.excerpt}}}</p>
	<a href="#noticias/{{slug}}" class="more-button">{{{view 'icons/ic_more-button'}}}</a>
</div>
