<div class="footer__column">

  <div class="footer__row">
    <div class="newsletter">
      <h4>{{t "footer_receive_announcements"}}</h4>
      <input type="email" placeholder="EMAIL">
    </div>
  </div>

  <div class="footer__row">
    <div class="logo--cisp">
      {{{view 'icons/ic_logo-v02'}}}
    </div>

    <div class="nav--social">
      <a href="tel:+351217512100" title="">{{{view 'icons/ic_phone'}}}</a>
      <a href="mailto:cisp@ensp.unl.pt" title="">{{{view 'icons/ic_email'}}}</a>
      <a href="#contactos" title="">{{{view 'icons/ic_pin'}}}</a>
      <a href="https://www.linkedin.com/feed/cisp/" title="">{{{view 'icons/ic_linkedin'}}}</a>
    </div>

    <div class="nav--lang">
      <a href="#" class="active">PT</a>
      <a href="#">EN</a>
    </div>
  </div>

</div>

<div class="footer__column">

  <div class="footer__partners">
    <a href="https://www.ensp.unl.pt" target="_blank" class="footer__partners__ensp"></a>
    <div class="footer__partners__fct"></div>
  </div>

</div>
