<a href="#membros/{{slug}}" alt="{{{title}}}">

  <div class="member-item__thumbnail"
	style="background-image: url({{#if thumbnail_images.post-thumbnail.url}}{{thumbnail_images.post-thumbnail.url}}{{else}}images/default_thumbnail.png{{/if}})">
	</div>

  <p class="member-item__name">{{{title}}}</p>

</a>