<div class="event__detail__header">
  <h2>{{t "news"}}</h2>
  <a href="#{{route-news}}" class="close">{{{view 'icons/ic_close02'}}}</a>
</div>

<div class="new__detail__wrapper">

  <div class="row">
    <div class="new-item">
      {{{view 'news/news-item'}}}
    </div>
  </div>

  <section class="col">
    <div class="content">{{{content}}}</div>
  </section>

  <section class="col images-wrapper">
    {{#each attachments}}
      <img src="{{this.url}}" alt="{{caption}}">
    {{/each}}
  </section>
</div>
