<div class="new-item__thumb">
  <img src="{{{thumbnail}}}" alt="">
</div>

<div class="new-item__content">
  <div class="new-item__content__title">{{{title}}}</div>
  <div class="new-item__content__excerpt">{{{custom_fields.excerpt}}}</div>

  <a href="#noticias/{{slug}}" class="more-button">
    {{{view 'icons/ic_more-button'}}}
  </a>
</div>