<div class="event__detail__header">
  <h2>Eventos</h2>
  <a href="#eventos" class="close">{{{view 'icons/ic_close02'}}}</a>
</div>

<div class="event__detail__wrapper">

  <section class="event__detail__column">
    <div class="event-item">
      {{{view 'events/item'}}}
    </div>

    <div class="content">{{{content}}}</div>
  </section>
  <section class="event__detail__column">


    {{#if thumbnail_images.post-thumbnail.url}}
      <div class="event__detail__image">
        <img src="{{thumbnail_images.post-thumbnail.url}}" alt="{{{title}}}">
      </div>
    {{/if}}
  </section>
</div>
