<div class="event-item__date">
  <p class="event-item__date__day">{{day}}</p>
  <p class="event-item__month">{{month}}</p>
</div>

<div class="event-item__content">
  <div class="event-item__content__title">{{{title}}}</div>
  <div class="event-item__content__excerpt">{{{custom_fields.excerpt}}}</div>

  <div class="event-item__content__when">{{custom_fields.when}}</div>
  <div class="event-item__content__where">{{custom_fields.where}}</div>

  <a href="#eventos/{{slug}}" class="more-button">
    {{{view 'icons/ic_more-button'}}}
  </a>
</div>